
@if (Is_Show_Form!=0 ||isAlertVisible===true) {

    <div id="overlay"></div>
    }
    <p>Table Locations</p>
<div class="row justify-content-center">


<div class="table-container col-12 col-lg-8">
    <table class="styled-table">
        <thead>
            <tr>          
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        
@if ((data$ | async)) {


@for (item of (data$ | async) ; track $index) {
    <tr [id]="item.id">
        <td class="name">{{item.name}}</td>
        <td ><img (click)="Is_Show_Form=1;currenL_location.id=item.id;this.group_form.get('name')?.setValue(item.name);" height="50" width="50" src="../asset/writer.png"></td>
        <td><img height="50" width="50"  (click)="openAlert(item.id)" src="../asset/delete.png"></td>

    </tr>
}
}
@else {
<tr>not data</tr>
}

 </tbody>
  </table>
  <div style="cursor: pointer;"  (click)="Is_Show_Form=2;this.group_form.get('name')?.setValue('');"><img height="50" width="50" src="../asset/add-list.png"></div>
  </div><div class="col-lg-4 col-12 container_popup">
<div [class]="{hide: Is_Show_Form==0}" class="container" id="windows_form">

    <div class="brand-logo"></div>
    <form [formGroup]="group_form">
    <span class="close" (click)="Is_Show_Form=0"></span>
    <div class="inputs">
      <input id="text" [value]="currenL_location.name" formControlName="name"  placeholder="enter city" />
      <app-show-error [message]="group_form.get('name')?.errors">
      </app-show-error>
      <button type="submit" (click)="Add_Item()" id="Add" [disabled]="group_form.invalid"   [class]="{hide:Is_Show_Form==1}">Add</button>
      <button type="submit" (click)="Edit_Item()" id="Edit" [disabled]="group_form.invalid"  [class]="{hide:Is_Show_Form==2}">Edit</button>
      <button type="button" id="Reset" (click)="group_form.reset()">Reset</button>
    
    </div>
     </form>

  </div>




</div></div>

@if(isAlertVisible){
<app-alert
   [elementId]="selectedElementId" 
  (alertResponse)="handleAlertResponse($event)">
</app-alert>
}